@{
    ViewBag.Title = "FAQ";
}

<div>
    <h1>Frequently Asked Questions</h1>
</div>

<h2>What time does the wedding start?</h2>
<p>We start seating at 3:30pm. Please try to be there no later than 4:00pm</p>

<h2>Where do I park?</h2>
<p>Cedarbrook Lodge offers free parking and discounted valet parking</p>

<h2>Is there a vegetarian dinner option?</h2>
<p>Yes</p>

<h2>Do you have the ceremony and reception at the same location?</h2>
<p>Yes, both take place at Cedarbrook Lodge</p>