@{
    ViewBag.Title = "Guest List";
}
<h1>Guest List</h1>

<ol>
    <li>Abey &amp; Mahdere</li>
    <li>Ala</li>
    <li>Alex &amp; Helen</li>
    <li>Ang Say &amp; Julia</li>
    <li>Anita &amp; Nick</li>
    <li>Bao Hoa &amp; Quan</li>
    <li>Bao &amp; Than</li>
    <li>Ben</li>
    <li>Catherine</li>
    <li>Chandavid</li>
    <li>Cindi &amp; Carl</li>
    <li>Corey</li>
    <li>Dad &amp; Mom Spada</li>
    <li>Dad &amp; Mom Tran</li>
    <li>Dan &amp; Katherine</li>
    <li>Daryl &amp; Julie</li>
    <li>Dianne &amp; Claude</li>
    <li>Eric &amp; Sarah</li>
    <li>Grandma</li>
    <li>Do Le &amp; Met</li>
    <li>Hansel + 1</li>
    <li>Jackie</li>
    <li>James</li>
    <li>Jason</li>
    <li>Jennifer &amp; Vo</li>
    <li>Jill &amp; Nathan</li>
    <li>Jim &amp; Charlotte</li>
    <li>Joe &amp; Kim</li>
    <li>Joe &amp; Caterina</li>
    <li>John &amp; Cathy</li>
    <li>Kenny &amp; Tracy</li>
    <li>Kieu &amp; Danny</li>
    <li>Lara &amp; Minh</li>
    <li>Leslie &amp; Amy</li>
    <li>Li Ming &amp; Mike</li>
    <li>Linda</li>
    <li>Long</li>
    <li>Ly Le</li>
    <li>Lynn</li>
    <li>Maria &amp; George</li>
    <li>Mary Ann &amp; Zoran</li>
    <li>Matt E.</li>
    <li>Matt S.</li>
    <li>Michelle &amp; Duc</li>
    <li>Nathan &amp; Rachel</li>
    <li>Peter &amp; Lila</li>
    <li>Phil &amp; Kristen</li>
    <li>Praneeth</li>
    <li>Robin</li>
    <li>Saan &amp; Danika</li>
    <li>Samphos &amp; Thanh</li>
    <li>Sandy</li>
    <li>Sophia &amp; Heng</li>
    <li>Soukie</li>
    <li>Stacey Loan + 1</li>
    <li>Steve &amp; Jessie</li>
    <li>Susi</li>
    <li>Tracy</li>
    <li>Travis &amp; Scott</li>
</ol>
