@{
    ViewBag.Title = "Gift Registry";
}

<p>
    Your presence is our gift and we cannot wait until August 29th to come.
</p>
<p>
    We are grateful to have a house full of everything we need, but you can contribute towards our honeymoon vacation
    at the following web site:
</p>
<p>
    <a href="http://www.honeyfund.com/wedding/lilapeter">http://www.honeyfund.com/wedding/lilapeter</a>
</p>