@{
    ViewBag.Title = "Visitor Info";
}
<h1>Visitor Info</h1>

<h2 style="margin-top:1.5em">Places to stay</h2>
<ul>
    <li><a href="http://www.cedarbrooklodge.com/">Cedarbrook Lodge</a></li>
    <li><a href="http://doubletree3.hilton.com/en/hotels/washington/doubletree-by-hilton-hotel-seattle-airport-CTAC-DT/index.html">Double Tree by Hilton</a></li>
    <li><a href="http://www.laquintaseattleseatacairport.com/">La Quinta Inns and Suites</a></li>
    <li><a href="https://www.google.com/maps/search/hotels/&#64;47.4370683,-122.2873963,16z">All nearby hotels</a></li>
</ul>

<h2 style="margin-top:1.5em">Places to eat</h2>
<ul>
    <li>Yelp: <a href="http://www.yelp.com/search?find_desc=&find_loc=SeaTac%2C+WA&ns=1&ls=069c28a29ea3b475#find_desc=Restaurants&find_loc=18525+36th+Ave+S,+Seattle,+WA+98188&l=g:-122.300405502,47.4286098509,-122.274827957,47.4460265209">Link to local restaurants</a></li>
</ul>

<h2 style="margin-top:1.5em">Places to see</h2>
<ul>
    <li>Seattle Center and Space Needle: <a>http://www.seattlecenter.com/</a></li>
    <li>Pike place market: <a>http://www.pikeplacemarket.org/</a></li>
</ul>

<h2 style="margin-top:1.5em">Things to do</h2>
<ul>
    <li>Go to Lila and Peter's wedding</li>
    <li>Nightlife: Walk around Capitol Hill or Belltown in Seattle</li>
</ul>

<h2 style="margin-top:1.5em">Look up flight info</h2>
<ul>
    <li><a href="https://www.google.com/flights/#search;f=DTW;t=SEA;d=2015-08-27;r=2015-08-30">From Detroit to Seattle</a></li>
</ul>
